fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.6.0
pydantic-settings>=2.1.0
python-dotenv>=1.0.1
langchain
langchain-openai
langchain-community
langchain-mongodb
pymongo>=4.6.1
motor>=3.3.2
openai>=1.10.0
python-multipart>=0.0.6
pypdf>=4.0.1
tiktoken>=0.5.2
pymupdf4llm
flashrank
rank_bm25
vaderSentiment
transformers
torch
